@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap');


/* base styles */
* {
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.LPlate {
  width: 15%;
  height: auto;
  transform: rotate(-35deg);
  margin-right: 300px;
  position: relative;
  top: 60px;
  right: 150px;
}

.BusinessName{
  position: relative;
  bottom: 50px;
  right: 150px;
}

.navbar {
  display: flex;
  align-items: center;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #ff0000;
  position: relative;
  right: 28px;
  
}
.navbar .links {
  margin-left: auto;
  position: relative;
  right: 150px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #ff0606;
}

.links {
  display: flex;
}

.links a {
  color: #000000;
  margin-right: 10px;
}

.links a:last-child {
  background-color: #000000;
  color:#fafafa;
  padding: 6px 18px;
  border-radius: 8px;
  
}

.links a:last-child:hover {
  background-color: #ff0000;
  padding: 8px 20px;
  border-radius: 8px;
  transition: 0.6s;
}

.book-now-text:hover{
  color:rgb(255, 0, 0);
}
/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #ff0000;
  margin-bottom: 8px;
}




.booking-container {
  position: relative;
  text-align: center;
}

.book-now-text {
  position: absolute;
  top: 50%;
  left: 55;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding: 10px;
  z-index: 1; /* Sets a higher z-index for the text */
  text-decoration: none;
}

.car-image-container {
  position: relative;
}

.car-book-image {
  width: 20%;
  height: auto;
  transform: rotate(-1deg);
  z-index: 0; /* Sets a lower z-index for the image */
}



/* FAQs Page Styling */

.FAQs {
  color: black;
  padding-bottom: 10px;
}

.dropbtn {
  background-color:  rgb(255, 0, 0);
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 600px;
}

.dropdown-item {
  list-style-type: none;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffffea;
  padding: 2px;
  transition: max-height 1s ease;
}


.dropdown-content.show {
  max-height: 100px;
}

.downarrow {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.downarrow img {
  max-width: 10px;
  margin-right: 10px;
}

/* PRICING STYLING */

.Pricing {
  text-align: left;
}

.flex-pcontainer {
  display: flex;
  
}

.flex-pchild {
  flex: 1;
  /* background-color: rgb(255, 0, 0, 0.5); */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px
  
}  

.flex-pchild:first-child {
  margin-right: 20px;
} 

.p-heading{
  font-weight: bold;
  font-size: 25px;
}


/* TEST QUESTIONS PAGE */

.flex-test {
  display: flex;
}

.flex-one {
  flex: 1;
  /* border: 2px solid rgb(240, 62, 17); */
}  

.flex-child:first-child {
  margin-right: 20px;
} 


.testVid {
  border: none;
  position: relative;
  top: 95px;

}
.testText {
  border: none;
  position: relative;
  top: 10px;

} 


/* FOOTER */

.Footer {
  position: absolute;
  font-size: 10px;
  width: 100%;
  background-color: #ce3f3f; 
  color: #ffffff; 
  margin-top: 50px;
  padding: 10px; 
  left: 0;
  right: 0;
}

.WhatsappLogo {
  position: relative;
  top: 3px;
  width: 20px;
  height: auto;
  mix-blend-mode: multiply;
}

.EmailLogo {
  width: 20px;
  height: auto;
  mix-blend-mode: multiply;
}

.InstagramLogo {
  position: relative;
  top: 3px;
  width: 20px;
  height: auto;
  mix-blend-mode: multiply;
}