@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.LPlate{
  width: 40%;
  height: auto;
  z-index: 0; /* Set a lower z-index for the image */
  transform: rotate(-35deg);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #ff0000;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #ff0606;
}

.links {
  display: flex;
}

.links a {
  color: #000000;
  text-decoration: none;
  margin-right: 10px;
}

.links a:last-child {
  background-color: #ff0000;
  color:#fafafa;
  padding: 6px 12px;
  border-radius: 8px;
}

.links a:last-child:hover {
  background-color: #050404;
  padding: 6px 12px;
  border-radius: 8px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #ff0000;
  margin-bottom: 8px;
}


.booking-container {
  position: relative;
  text-align: center;
}

.book-now-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 0, 0);
  font-size: 24px;
  padding: 10px;
  z-index: 1; /* Set a higher z-index for the text */
}

.car-image-container {
  position: relative;
}

.car-book-image {
  width: 40%;
  height: auto;
  z-index: 0; /* Set a lower z-index for the image */
}





/* FAQs Page Styling */

.dropbtn {
  background-color:  rgb(255, 0, 0);
  color: black;
  list-style-type: none; /* This removes the bullet point */
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 600px;
}

.dropdown-item {
  list-style-type: none;
}
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffffea;
  padding: 2px;
  padding-left: 50px;
  width: 597px;
  transition: max-height 1s ease;
}


.dropdown-content.show {
  max-height: 100px;
}



.downarrow {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.downarrow img {
  max-width: 10px;
  margin-right: 10px;
}