@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap');

body {
  background: #ecebeb;
  /* z-index: 2; */
} 

/* body {
  background-image: url('src/images/Backgroundpic.jpeg');
  background-size: 95%;
  background-position: center;
} */

/* base styles */
* {
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.LPlate {
  width: 15%;
  height: auto;
  transform: rotate(-35deg);
  margin-right: 300px;
  position: relative;
  top:70px;
  left: 200px;
  margin-bottom: -30px;
}

.BusinessName{
  position: relative;
  bottom: 50px;
  left: 400px;
}

.navbar {
  display: flex;
  align-items: center;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  /* border-bottom: 1px solid #f2f2f2; */
  border-bottom: 1px solid #ff0000;
  
}
.navbar h1 {
  color: #ff0000;
  position: relative;
  right: 28px;
  
}
.navbar .links {
  margin-left: auto;
  position: relative;
  right: 150px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #ff0606;
}

.links {
  display: flex;
}

.links a {
  color: #000000;
  margin-right: 10px;
}

.links a:last-child {
  background-color: #000000;
  color:#fafafa;
  padding: 6px 18px;
  border-radius: 8px;
  
}

.links a:last-child:hover {
  background-color: #ff0000;
  padding: 8px 20px;
  border-radius: 8px;
  transition: 0.6s;
}

.slogan{
  position: relative;
  font-size: 25px;
  text-shadow: #000000;
  text-align: center;
  font-weight: bold;
  
}

.book-now-text:hover{
  color:rgb(255, 0, 0);
}


.booking-container {
  position: relative;
  text-align: center;
}

.book-now-text {
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 24px;
  /* padding: 10px; */
  z-index: 1; /* Sets a higher z-index for the text */
  text-decoration: none;
}

.car-image-container {
  position: relative;
  top: -40px;
}


.car-book-image {
  width: 20%;
  height: auto;
  transform: rotate(-1deg);
  margin-bottom: -40px;
  
}


/*Homepage styling */

.business-info-holder {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;

}

.business-info {
  margin: 0;
  font-size: 20px;
  max-width: 1200px;
  
  
}

.all-testimonials {
  padding-bottom: 50px;
  padding-top: 50px;
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 0 auto; 
  max-width: 1200px; 
}

.testimonials {
  display: flex;
  padding-top: 30px;
  gap: 50px; /* Adds some spacing between items */
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.student-img-container {
  text-align: center;
}

.student-img {
  border-radius: 150px;
  width: 300px;
  height: 300px;
  border: 1px solid transparent; /* Transparent border */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.testimonial-text-container {
  width: 100%;
}

.testimonial-text {
  text-align: center;
}


.Steps-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Centers items horizontally */
    max-width: 1200px;
    margin: 0 auto; /* Centers the container horizontally */
    padding-top: 10px;
    padding-bottom: 20px;
}


.Steps-container h1 {
  text-align: center; /* Centers text horizontally */
  font-size: 18px;
}

.road-image {
  width: 100%; 
  max-width: 70px;
  max-height: 90px; 
  opacity: 0.3; 
 
}


/* PRICING STYLING */

.Price-container {
  border: 4px solid #ff0000; 
  border-radius: 10px; 
  padding: 20px; 
  max-width: 800px;
  padding-bottom: 50px;


  margin: 0 auto;
}

.Pricing {
  text-align: center;
  padding-top: 10px;
  
}

.outer-pcontainer {
  display: flex;
  justify-content: center; 
  
}

.flex-pcontainer {
  display: flex;
  max-width: 1200px;
  
}

.flex-pchild {
  flex: 1;
  /* background-color: rgb(255, 0, 0, 0.5); */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px
  
}  

.flex-pchild:first-child {
  margin-right: 20px;
} 

.p-heading{
  font-weight: bold;
  font-size: 25px;
}




/* FAQs Page Styling */

.FAQs {
  color: black;
  padding-bottom: 10px;
  text-align: center;
}

.dropbtn {
  background-color:  rgb(255, 0, 0);
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 600px;
}

.dropdown-item {
  list-style-type: none;
  text-align: center;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffffea;
  padding: 2px;
  transition: max-height 1s ease;
}


.dropdown-content.show {
  max-height: 100px;
}

.downarrow {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.downarrow img {
  max-width: 10px;
  margin-right: 10px;
}


/* TEST QUESTIONS PAGE */

.showme-header{
  text-align: center;
}

.show-questions{
   display: flex;
   justify-content: center; /* horizontally center */
   text-align: center;
   align-items: center; /* vertically center */
   height: 180vh; /* full viewport height */
}


.flex-test {
  display: flex;
  
}

.flex-one {
  flex: 1;
  /* border: 2px solid rgb(240, 62, 17); */
}  

.flex-child:first-child {
  margin-right: 20px;
} 


.testVid {
  border: none;
  position: relative;
  top: 95px;

}
.testText {
  border: none;
  position: relative;
  top: 10px;

} 

.tellme-header{
  text-align: center;
}

.t-container{
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px 50px;
}

.t-container hr{
  height: 2px;
  border: none;
  background: grey;
}

.t-container h2{
  font-size: 20px;
  font-weight: 500;
}

.t-container ul li{
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.t-container button{
  margin: auto;
  width: 250px;
  height: 50px;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.t-container button:hover{
  width: 270px;
  background-color: red;
  transition: 1s;
}

.correct{
  background: rgb(46, 255, 46);
}

.incorrect{
  background: rgb(255, 146, 146);
} 

/* Search new instructors page*/

.inputwithbutton{
  text-align: center;
}

.subtitle {
  background-color: rgb(224, 224, 224);
  padding: 2rem ;
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: space-between;

}

.subtitle p {
  font-size: 15px
  
}
.s-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.f-container {
  display: flex;
  justify-content: center;
}

.f-container > * {
  margin-right: .7rem;
}


.search-results {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}

.business-image{
  margin-right: 1rem;
}

.business-info{
  min-width: 400px;
}

.contact-info p {
  font-size: .85rem;
}

.rating {
  display: flex;
  align-items: center;
}

.rating > * {
  margin-right: 4px;
}

.rating p {
  font-size: .85rem;
}

/*About Me*/

.aboutme-page {
  display: flex;
}

.pic-box {
  flex: .6;
  border: 2px solid rgb(255, 0, 0);
}  

.flex-c {
  flex: 1.5;
  border: 2px solid rgb(255, 0, 0);
  margin-left: 20px;
}

/* FOOTER */

.Footer {
  position: absolute;
  font-size: 10px;
  width: 100%;
  background-color: #ce3f3f; 
  color: #ffffff; 
  margin-top: 150px;
  padding: 10px; 
  left: 0;
  right: 0;
  text-align: center;
}

.WhatsappLogo {
  position: relative;
  top: 3px;
  width: 20px;
  height: auto;
  mix-blend-mode: multiply;
}

.EmailLogo {
  width: 20px;
  height: auto;
  mix-blend-mode: multiply;
}

.InstagramLogo {
  position: relative;
  top: 3px;
  width: 20px;
  height: auto;
  mix-blend-mode: multiply;
}